:root {
  --background: #11111b;
  --accent: #b4befe;
  --side-bar-background: #1e1e2e;
  --game-background: #313244;
  --input: #cdd6f4;
  --input-disabled: #5d6070;
  --input-text: #959abb;
  --borderWidth: 1px;
}

* {
  padding: 0;
  margin: 0;

  font-family: "JetBrains Mono", monospace;
  background: var(--background);
  color: white;
  font-style: normal;
  line-height: normal;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
}

aside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: var(--side-bar-background);
  height: 80%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 7px;
}
form * {
  background-color: var(--side-bar-background);
}

form h1 {
  text-align: center;
}

.coolLabel {
  position: relative;
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coolInput {
  width: 100%;
  height: 100%;
  border: 3px solid var(--input);
  border-radius: 6px;
  padding-left: 0.4rem;
}

.coolInput:focus {
  outline: none;
}

.disabled {
  border-color: var(--input-disabled);
  color: var(--input-disabled);
}

.coolEffect {
  color: var(--input-text);
  position: absolute;
  display: block;
  top: 28%;
  left: 0.4rem;
  width: 54%;
  text-align: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  border-radius: 7px;
  font-size: 16px;
}

.coolInput:not(:placeholder-shown) ~ .coolEffect,
.coolInput:focus ~ .coolEffect {
  top: -18%;
  border: none;
  color: var(--input);
  font-size: 14px;
  width: 48%;
}

#signSelectionContainer {
  display: flex;
  height: 8%;
}

#signSelectionContainer button {
  cursor: pointer;
  background-color: var(--accent);
  flex: 1;
  border: none;
  transition: filter cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signSelectionContainer button:hover {
  filter: brightness(110%);
}

#signSelectionContainer button span {
  font-size: 38px;
  background-color: var(--accent);
  color: var(--background);
}

#x {
  border-radius: 7px 0 0 7px;
  border-right: 10px solid var(--background);
}

#o {
  border-radius: 0px 7px 7px 0;
}

#botCheckboxContainer {
  padding-left: 0.4rem;
}

#botCheckbox {
  accent-color: var(--accent);
}

#botDeff {
  height: 8%;
  background-color: var(--input);
  color: var(--background);
  font-size: 18px;
  padding-left: 0.4rem;
  border-radius: 7px;
}

main {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameContainer {
  width: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#gameTitle {
  width: 80%;
  height: 7%;
  display: flex;
}

#gameTitle h3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  color: var(--background);
}

#player1 {
  border-right: 2px var(--background) solid;
  border-radius: 7px 0 0 0;
}

#player2 {
  border-radius: 0 7px 0 0;
}

#gameBoard {
  width: 93%;
  height: 93%;
  background-color: var(--game-background);
  border-radius: 7px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#gameBoard div {
  background-color: var(--game-background);
  border-style: solid;
  border-width: 0px;
  border-color: var(--input);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameBoard div span {
  background-color: var(--game-background);
  font-size: 98px;
}

#gameBoard #one {
  border-right-width: var(--borderWidth);
  border-bottom-width: var(--borderWidth);
}

#gameBoard #two {
  border-bottom-width: var(--borderWidth);
}

#gameBoard #three {
  border-left-width: var(--borderWidth);
  border-bottom-width: var(--borderWidth);
}

#gameBoard #four {
  border-right-width: var(--borderWidth);
  border-bottom-width: var(--borderWidth);
}

#gameBoard #five {
  border-bottom-width: 1px;
}

#gameBoard #six {
  border-left-width: var(--borderWidth);
  border-bottom-width: var(--borderWidth);
}

#gameBoard #seven {
  border-right-width: var(--borderWidth);
}

#gameBoard #nine {
  border-left-width: var(--borderWidth);
}
